[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
paramiko = "==2.7.1"
six = "==1.15.0"
pynacl = "==1.4.0"
cryptography = "==3.0"
cffi = "==1.14.2"
bcrypt = "==3.2.0"

[requires]
python_version = "3.8"
